text {
  font-family: System-Regular;
  fill: fb-white;
}

.main-clock {
  font-size: 68;
  text-anchor: end;
}

.weather-text {
  font-size: 35;
  width: 100%;
  text-overflow: ellipsis;
}

.weather-location {
  fill: fb-blue;
}

.logs {
  display: none;
}

.logsVisible {
  display: inline;
}

.event-marker {
  fill: fb-blue;
  stroke-width: 6;
}

.event-time {
  fill: fb-blue;
  font-size: 28;
}

.event-title {
  width: 100%-20;
  font-size: 30;
  text-overflow: ellipsis;
  fill: fb-white;
}

.day-of-week {
  fill: fb-blue;
  font-size: 22;
  text-anchor: middle;
}

.current-date {
  font-size: 40;
  text-anchor: middle;
}
